*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
}

:root{
    --color-violet: hsl(263, 55%, 52%);
    --color-darkgrayblue: hsl(217, 19%, 35%);
    --color-blackblue: hsl(219, 29%, 14%);
    --color-white: hsl(0, 0%, 100%);
    --color-lightgray: hsl(0, 0%, 81%);
    --color-lightgrayblue: hsl(210, 46%, 95%);
    --font-family: "Barlow Semi Condensed", sans-serif;
}

.mainSection{
    min-height: 100vh;
    background-color: var(--color-lightgrayblue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridContainer{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(auto);
    gap: 2rem;
    grid-template-areas:
    "area1 area1 area2 area3"
    "area4 area5 area5 area3";
}

.cardPurple{
    background-color: var(--color-violet);
    border-radius: 10px;
    padding: 2rem;
    grid-area: area1;
    position: relative;
}

.quoteDiv{
    position: absolute;
    right:10%;
    top: 0;
}

.cardGray{
    background-color: var(--color-darkgrayblue);
    border-radius: 10px;
    padding: 2rem;
    grid-area: area2;
}

.cardDark{
    background-color: var(--color-blackblue);
    border-radius: 10px;
    padding: 2rem;
    grid-area: area5;
}

.cardWhite{
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 2rem;
    grid-area: area3;

}

.cardWhiteSmall{
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 2rem;
    grid-area: area4;
}


.authorArea{
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem;
}




.authorArea .profilePicture{
    border-radius: 100px;
    width: 40px;
}

.authorData{
    font-family: var(--font-family);
    color: var(--color-white);
    padding-left: 1rem;
}

.authorDataWhite{
    font-family: var(--font-family);
    color: var(--color-darkgrayblue);
    padding-left: 1rem;
}

.authorName{
    font-weight: 500;
}

.authorGraduate{
    opacity: 50%;
}

.textArea{
    padding: 1rem;
    font-family: var(--font-family);
}

.articleHeader{
    font-size: 1.60rem;
    font-weight: 600;
    color: var(--color-white);
}

.articleHeaderWhite{
    font-size: 1.60rem;
    font-weight: 600;
    color: var(--color-darkgrayblue);
}

.articleText{
    color: var(--color-white);
    opacity: 70%;
    padding-top: 1rem;
    font-size: 1.2rem;
}

.articleTextWhite{
    color: var(--color-darkgrayblue);
    font-weight: 500;
    opacity: 70%;
    padding-top: 1rem;
    font-size: 1.2rem;
}

.articleTextGray{
    color: var(--color-lightgray);
    font-weight: 500;
    opacity: 70%;
    padding-top: 1rem;
    font-size: 1.2rem;
}



#borderImg{
    border: 2px solid var(--color-violet);
}

@media (min-width: 425px) and (max-width: 1024px){
    .gridContainer{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "area1 area1 area1 "
        "area3 area3 area3"
        "area2 area2 area2 "
        "area5 area5 area5 "
        "area4 area4 area4";
    }

    .cardPurple{

        grid-area: area1;
    }
    
    .cardGray{

        grid-area: area2;
    }
    
    .cardDark{

        grid-area: area5;
    }
    
    .cardWhite{

        grid-area: area3;
    }
    
    .cardWhiteSmall{

        grid-area: area4;
    }
}

@media (min-width: 280px) and (max-width: 424px){

    .gridContainer{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "area1 area1 area1"
        "area2 area2 area2"
        "area4 area4 area4"
        "area5 area5 area5"
        "area3 area3 area3";
    }

    .authorArea{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    .quoteDiv{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
    }

    .textArea{
        text-align: center;
    }



}